.city {
    background-color: rgb(0, 255, 42);
    color: rgb(0, 23, 128)
}

.lol {
    background-color: rgba(255, 0, 0, 0.5);
    color: rgba(128, 0, 0, 0.212)
}

.haha {
    background-color: #f55c47;
    color: #4aa96c;
}