        table,
    th,
    td {
        border: 1px solid red;
        border-collapse: collapse;
        width: 50%;
    }
    
    th,
    td {
        padding: 20px;
        table {
            border-spacing: 10px;
        }